<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>
                Auctions
            </h1>
            <p>
                Hello, @ViewBag.User.userName
            </p>
            <a href="/logout">Logout</a>
        </div>
        <hr>

        <div class="data-table">
            <div class="table-header">
                <h3>Product</h3>
                <h3>Seller</h3>
                <h3>Top Bid</h3>
                <h3>Time Remaining</h3>
                <h3>Actions</h3>
            </div>
            <hr>
            <div class="table-scroller">
                @{  
                    foreach(var auction in Model)
                    {
                        <div class="table-column">
                            <a href="/auction/@auction.auctionId">
                                <p>
                                    @auction.name
                                </p>
                            </a>
                        </div>
                        <div class="table-column">
                            <p>
                                @auction.user.userName
                            </p>
                        </div>
                        if(auction.bids.Count > 0)
                        {
                            float max = 0;
                            for (int i = 0; i < auction.bids.Count; i++)
                            {
                                if(auction.bids[i].amount > max) 
                                {
                                    max = auction.bids[i].amount;
                                }
                            }
                            <div class="table-column">
                                <p>
                                    $@max
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="table-column">
                                <p>
                                    $@auction.startingBid
                                </p>
                            </div>
                        }
                        <div class="table-column">
                            <p>
                                @auction.endDate.ToString("MM/dd/yyyy h:mm tt")
                            </p>
                        </div>
                        if(auction.user == ViewBag.User)
                        {
                            <div class="table-column">
                                <a href="/auction/@auction.auctionId/delete">
                                    <p>
                                        Delete
                                    </p>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="table-column">
                                <p>
                                    --
                                </p>
                            </div>
                        }
                    }         
                }
            </div>
        </div>
        <hr>
        <a href="/auction/new">New Auction</a>
        <p>Current Wallet: $@ViewBag.User.wallet</p>
    </div>
</body>
</html>