@model Auctions.Models.Auction;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="nav-bar">
            <a href="/auctions">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <hr>
        <h3>
            New Auction
        </h3>
        <hr>
        <form class="user-form" asp-action="PostAuction" asp-controller="auction" method="post">
            <p>
                Product Name:
            </p>
            <span asp-validation-for="name"></span>
            <input type="text" asp-for="name">
            <p>
                Description:
            </p>
            <span asp-validation-for="description"></span>
            <textarea asp-for="description" cols="30" rows="10"></textarea>
            <p>
                Starting Bid:
            </p>
            <span asp-validation-for="startingBid"></span>
            <p>
                @Html.ValidationMessage("Bid")
            </p>
            <input type="number" asp-for="startingBid" min="0">
            <p>
                End Date:
            </p>
            <span asp-validation-for="endDate"></span>
            <p>
                @Html.ValidationMessage("Date")
            </p>
            <input type="datetime-local" asp-for="endDate">
            <input type="submit" value="Create Auction">
        </form>
    </div>
</body>
</html>